bin/
.DS_Store
/pazi.jar
/export.xml
/build
/dist
/keystore.prop
/getdown/pazifist/Der-Pazifist.jar
/getdown/pazifist/cert.crt
/getdown/pazifist/digest.txt
/getdown/pazifist/digest.txt.sig
/getdown/pazifist/getdown-client.jar
